.layout {
  display: flex;
  height: 100vh;
  overflow: hidden; /* ป้องกันไม่ให้เกิดการเลื่อนที่ layout */
}

.sidebar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  padding: 10px;
  height: 100vh;
  position: fixed; /* ทำให้ Sidebar คงที่ */
  top: 0;
  left: 0;
  z-index: 10; /* ให้ Sidebar อยู่เหนือ Content */
}

.content {
  margin-left: 200px; /* ทำให้เนื้อหาหลักไม่ทับกับ Sidebar */
  padding: 20px;
  width: calc(100% - 200px); /* ให้เนื้อหาหลักใช้พื้นที่เหลือจาก Sidebar */
  overflow-y: auto; /* ทำให้เนื้อหาสามารถเลื่อนได้ */
  height: auto; /* ทำให้ความสูงปรับตามเนื้อหา */
}

.nav-link {
  display: block;
  padding: 10px;
  color: #333;
  text-decoration: none;
}

.nav-link:hover {
  background-color: #f0f0f0;
  border-radius: 5px;
}

.logout {
  background-color: #af0505;
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  color: white;
}

.logout:hover {
  background-color: #8c0404;
}
/* App.css */

/* App.css */

/* รีเซ็ตค่าเริ่มต้น */
